@import "./utils/variables";
@import "./utils/mixins";
@import "./base/base";
@import "./components/_composant";
@import "./layout/footer";
@import "./pages/menu";

@font-face{
    font-family:'Shrikhand';
    src: url(../font/shrikhand/Shrikhand-Regular.otf);
}

@font-face{
    font-family:'Roboto';
    src: url(../font/roboto/Roboto-Regular.ttf);}


.headbar{
    @include headerbox;
    padding:0.5rem 0rem 0.5rem 0rem;
        &__logo{
            color: $clr;
            margin:$margin;
        }
}

.locate{
    @include boxcenter;
    background-color: $locate-color;
    color: $clr;
    padding:1.2rem;
    font-family: 'Roboto';
    box-shadow: inset 0px 5px 12px -10px;
}

.logomaps{
    @include boxcenter;
    width: 30%;
}

.entete{
    @include boxcenter;
    @include stylebckgrd;
    margin: $margin;
    padding :1.5rem;
    .btn{
        @include flex-col;
    }
}

.fonctionnement{ 
    width:100%;
    @include boxcenter;
    padding: 1.5rem 0rem 1.5rem 0rem;  
    margin-bottom: 1.5rem;

        .fonctionnement__bloc{
           margin: auto;
           @include flex-col;

                    .icon-number{
                        border: solid 1px $color-primary;
                        border-radius: 100%;
                        color: $color;
                        background-color: $color-primary;
                        position: relative;
                        right:10rem;
                        top:4rem;
                        padding: 0.1rem;
                        width: 1rem;}
                            
                        .iconfonc{
                                color: gray;
                            }
                            
                            .fonctionnement__description{
                                background-color: $back-grnd;
                                border-radius: 20px;
                                width: 250px;
                                padding: 1.5rem 1.5rem 1.5rem 3rem;
                                text-align: left;
                                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                                transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);

                                    &:hover{
                                        box-shadow: 0 3px 6px rgba(0,0,0,0.25), 0 5px 7px rgba(0,0,0,0.23);
                                        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
                                        background-color: $color-hoverfonc;

                                        .iconfonc{
                                            color:$color-primary;
                                        }
                                        
                                    }

                                        

                        }
                    }
                }
                        

.restaurant{
    @include stylebckgrd;
    padding: 1.5rem;
    
    .restaurant__bloc{
        @include flex-row;
            
        .restaurant__menu{    
            
            @include cardrestaurant;

                }
            }

                    
                .new{
                       @include sticker-new;}
                    
                        
                        .restaurant__description{
                           display: flex;
                           flex-direction: row;
                           justify-content: space-between;
                        }
                        
                        
                        .restaurant__description__new{
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            position: relative;
                            bottom: 2rem;

                        
                         
                            
                            .restaurant__card{
                                display: flex;
                                flex-direction: column;
                                margin-left: 10px;
                                
                                        .heavy{
                                            font-weight:600;
                                            margin: 15px 0px 5px 0px;
                                        }

                                        .skinny{
                                            font-weight: 200;
                                            margin: 0px 0px 5px 0px;
                                            font-size: 1rem;
                                        }
                                    }
                                }
                            }
                            
                            .fill-heart{
                                background-color: green;
                                font-size: 1.5rem;
                                width: 25px;
                                height: 25px;
                                border-radius: 30px;;
                                position: relative;
                                top:25px;
                                right: 25px;

                                .full{
                                    font-size: 1.22rem;
                                    color:red;
                                    position: relative;
                                    left: 5px;
                                    bottom: ;
                                    transition: 200ms ease-in-out;
                               
                                &:hover{
                                    transform: scale(1);

                                    .full{
                                        color: $color-primary;
                                        transition: transform 200ms ease-in-out;
                                        }

                                
                                
                                .empt{
                                    position: relative;
                                    top: 20px;
                                    right: 5px; 

                                   
                                    }
                                 }

                                }   
                         }
                                
                                        
                                        
                                    

                                            
                                        
                                    
                            