.fa, .fas, .far {
  padding-right: 10px;
}

body {
  list-style-type: none;
  margin: 0rem;
}

a {
  text-decoration: none;
}

img {
  width: 330px;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}

.headbar, .headfoot, .header__bar, .menu__header__title {
  font-family: 'Shrikhand';
}

.locate, .entete, .fonctionnement, .restaurant, .footer__contain, .button, .bloc__menu {
  font-family: 'Roboto';
  font-size: 1rem;
}

.big {
  text-align: center;
  border-radius: 30px;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#db98d8));
  background: linear-gradient(0deg, #9356DC, #db98d8);
  padding: 1rem;
  color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  width: 200px;
}

.big:hover {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25), 0 5px 7px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25), 0 5px 7px rgba(0, 0, 0, 0.23);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  background-color: #db98d8;
}

.button {
  text-align: center;
  border-radius: 30px;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#db98d8));
  background: linear-gradient(0deg, #9356DC, #db98d8);
  padding: 1rem;
  color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  width: 150px;
}

.button:hover {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25), 0 5px 7px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25), 0 5px 7px rgba(0, 0, 0, 0.23);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  background-color: #db98d8;
}

.box1 {
  -webkit-animation: cascade .5s;
          animation: cascade .5s;
}

.box2 {
  -webkit-animation: cascade .8s;
          animation: cascade .8s;
}

.box3 {
  -webkit-animation: cascade 1s;
          animation: cascade 1s;
}

@-webkit-keyframes cascade {
  0% {
    translateY: 0, 0;
    opacity: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  50% {
    translateY: 50%, 0;
    opacity: .5;
    -webkit-transform: scaleY(0, 0.38);
            transform: scaleY(0, 0.38);
  }
  100% {
    translateY: 100%, 0;
    opacity: 1;
    -webkit-transform: scaleY(0, 1);
            transform: scaleY(0, 1);
  }
}

@keyframes cascade {
  0% {
    translateY: 0, 0;
    opacity: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  50% {
    translateY: 50%, 0;
    opacity: .5;
    -webkit-transform: scaleY(0, 0.38);
            transform: scaleY(0, 0.38);
  }
  100% {
    translateY: 100%, 0;
    opacity: 1;
    -webkit-transform: scaleY(0, 1);
            transform: scaleY(0, 1);
  }
}

#load {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
}

#load .fa-circle-notch {
  padding: 0px;
  margin-top: 250px;
  z-index: 3;
  opacity: 0;
  font-size: 150px;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
  -webkit-animation: rotate 2500ms linear;
          animation: rotate 2500ms linear;
}

#load .circle {
  z-index: 3;
  opacity: 0;
  background: #db98d8;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: auto;
  position: relative;
  bottom: 97px;
  -webkit-animation: piece 2500ms linear both;
          animation: piece 2500ms linear both;
}

#load .circle .fa-utensils {
  z-index: 3;
  color: white;
  font-size: 12px;
  position: relative;
  left: 5px;
  top: 10px;
  -webkit-animation: less 2500ms ease-out;
          animation: less 2500ms ease-out;
}

@-webkit-keyframes piece {
  0% {
    -webkit-transform: rotateY(0turn);
            transform: rotateY(0turn);
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotateY(5turn);
            transform: rotateY(5turn);
  }
}

@keyframes piece {
  0% {
    -webkit-transform: rotateY(0turn);
            transform: rotateY(0turn);
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotateY(5turn);
            transform: rotateY(5turn);
  }
}

@-webkit-keyframes rotate {
  0% {
    opacity: 0.8;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    color: #FF79DA;
  }
  50% {
    opacity: 1;
    font-size: 160px;
    color: #ffc5ef;
  }
  75% {
    opacity: 0.7;
    color: #9356DC;
  }
  100% {
    display: none;
    opacity: 0;
    -webkit-transform: rotate(3.5turn);
            transform: rotate(3.5turn);
  }
}

@keyframes rotate {
  0% {
    opacity: 0.8;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    color: #FF79DA;
  }
  50% {
    opacity: 1;
    font-size: 160px;
    color: #ffc5ef;
  }
  75% {
    opacity: 0.7;
    color: #9356DC;
  }
  100% {
    display: none;
    opacity: 0;
    -webkit-transform: rotate(3.5turn);
            transform: rotate(3.5turn);
  }
}

@-webkit-keyframes less {
  from {
    opacity: 1;
  }
  to {
    display: none;
  }
}

@keyframes less {
  from {
    opacity: 1;
  }
  to {
    display: none;
  }
}

@-webkit-keyframes backbody {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes backbody {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.footer__bloc {
  padding: 1rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #2b2924;
}

.footer__bloc .headfoot {
  letter-spacing: 1px;
}

.footer__bloc .footer__contain {
  margin-bottom: 0rem;
  opacity: 1;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.footer__bloc .footer__contain:hover {
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  opacity: .7;
}

.footer__bloc .footer__contain .footer__contain__element {
  color: #fff;
}

.headbar__direction {
  width: 99%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem 0rem 0.5rem 0rem;
}

.headbar__direction .large {
  width: 5%;
  text-align: center;
}

.headbar__direction .large .fa-arrow-left {
  font-size: 2rem;
  color: black;
  text-align: center;
  padding: 0rem;
}

.headbar__direction .largelogo {
  width: 95%;
  text-align: center;
}

.headbar__direction .largelogo .head__logo {
  text-align: center;
  margin: 0rem;
  color: black;
}

.banner {
  width: 100%;
  height: 270px;
}

.banner__img {
  width: 100%;
}

.banner__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 300px;
}

.menu__tabs {
  position: -webkit-sticky;
  position: sticky;
  background: #f2f2f2;
  border-radius: 35px 35px 0px 0px;
}

.menu__tabs .menu__header {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
  margin-left: 15px;
}

.menu__tabs .menu__header__title {
  width: 80%;
  margin-left: 20px;
}

@media (max-width: 359px) {
  .menu__tabs .menu__header__title {
    margin-left: 10px;
  }
}

.menu__tabs .menu__header .heart__menu {
  width: 30px;
}

@media (min-width: 360px) and (max-width: 400px) {
  .menu__tabs .menu__header .heart__menu {
    position: relative;
    top: 10px;
    right: 15px;
  }
}

@media (max-width: 359px) {
  .menu__tabs .menu__header .heart__menu {
    position: relative;
    top: 10px;
    right: 15px;
  }
}

@media (min-width: 401px) and (max-width: 430px) {
  .menu__tabs .menu__header .heart__menu {
    position: relative;
    top: 10px;
    right: 15px;
  }
}

.menu__tabs .menu__header .heart__menu:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  cursor: pointer;
}

.menu__tabs .menu__header .heart__menu:hover .full {
  color: #9356DC;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.menu__tabs .menu__header .empt {
  font-size: 22px;
  position: relative;
  right: 2px;
  bottom: 22px;
}

.menu__tabs .menu__header .full {
  font-size: 20px;
  position: relative;
  right: 1px;
  color: #fff;
}

.menu__tabs .love {
  width: 10%;
  font-size: 1.2rem;
  text-align: center;
}

@media (min-width: 650px) {
  .menu__tabs .love {
    position: relative;
    left: 3rem;
  }
}

.menu__tabs .bloc__menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  margin: 0rem;
}

@media (min-width: 650px) {
  .menu__tabs .bloc__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.menu__tabs .menu__dish {
  margin: 10px 20px 50px 0px;
  width: 90%;
  -webkit-animation: cascade 250ms cubic-bezier(0.74, 0.02, 0.18, 1.16);
          animation: cascade 250ms cubic-bezier(0.74, 0.02, 0.18, 1.16);
}

@media screen and (min-width: 851px) {
  .menu__tabs .menu__dish {
    width: 31%;
  }
}

.menu__tabs .menu__titlebloc {
  margin: 15px 15px 0px 15px;
  width: 40px;
  border-bottom: solid 2px #99E2D0;
}

.menu__tabs .bloc__description__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  background: white;
  width: 99%;
  height: 70px;
  border-radius: 15px;
  margin: 15px;
  overflow: hidden;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  cursor: pointer;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 359px) {
  .menu__tabs .bloc__description__menu {
    height: 55px;
    margin-left: 10px;
  }
}

@media (min-width: 360px) and (max-width: 400px) {
  .menu__tabs .bloc__description__menu {
    height: 60px;
  }
}

.menu__tabs .bloc__description__menu:hover {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25), 0 5px 7px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25), 0 5px 7px rgba(0, 0, 0, 0.23);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.menu__tabs .bloc__description__menu:hover .slide-box {
  -webkit-transform: translate(-70px, 0);
          transform: translate(-70px, 0);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

@media (min-width: 360px) and (max-width: 400px) {
  .menu__tabs .bloc__description__menu:hover .slide-box {
    -webkit-transform: translate(-60px, 0);
            transform: translate(-60px, 0);
  }
}

@media (min-width: 431px) and (max-width: 850px) {
  .menu__tabs .bloc__description__menu:hover .slide-box {
    -webkit-transform: translate(-150px, 0);
            transform: translate(-150px, 0);
  }
}

@media screen and (min-width: 851px) {
  .menu__tabs .bloc__description__menu:hover .slide-box {
    -webkit-transform: translate(-90px, 0);
            transform: translate(-90px, 0);
  }
}

.menu__tabs .bloc__description__menu:hover .slide-box .price--menu {
  background-color: #fff;
}

.menu__tabs .bloc__description__menu:hover .slide-box .box {
  background-color: #99E2D0;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.menu__tabs .bloc__description__menu:hover .slide-box .box .check {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #fff;
  position: relative;
  opacity: 1;
  left: 8px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu__tabs .bloc__description__menu .description--menu {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: visible;
}

.menu__tabs .bloc__description__menu .description--menu .bold {
  z-index: 1;
  width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 10px 0px 5px 10px;
  font-weight: 600;
  font-size: 1.1rem;
}

@media screen and (min-width: 851px) {
  .menu__tabs .bloc__description__menu .description--menu .bold {
    font-size: 14px;
    width: 150%;
  }
}

@media (min-width: 401px) and (max-width: 430px) {
  .menu__tabs .bloc__description__menu .description--menu .bold {
    font-size: 1rem;
    width: 150%;
  }
}

@media (min-width: 360px) and (max-width: 400px) {
  .menu__tabs .bloc__description__menu .description--menu .bold {
    font-size: 14px;
    margin-bottom: 5px;
    width: 150%;
  }
}

@media (max-width: 359px) {
  .menu__tabs .bloc__description__menu .description--menu .bold {
    width: 150%;
    font-size: 12px;
  }
}

.menu__tabs .bloc__description__menu .description--menu .light {
  width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0px 0px 10px 10px;
  margin-top: 0px;
  margin-left: 10px;
  font-size: 0.9rem;
  font-weight: 200;
}

@media (min-width: 401px) and (max-width: 430px) {
  .menu__tabs .bloc__description__menu .description--menu .light {
    width: 200%;
    font-size: 15px;
  }
}

@media (min-width: 360px) and (max-width: 400px) {
  .menu__tabs .bloc__description__menu .description--menu .light {
    width: 200%;
    font-size: 14px;
  }
}

@media (max-width: 359px) {
  .menu__tabs .bloc__description__menu .description--menu .light {
    font-size: 12px;
    width: 200%;
  }
}

@media screen and (min-width: 851px) {
  .menu__tabs .bloc__description__menu .description--menu .light {
    font-size: 13px;
    width: 200%;
  }
}

.menu__tabs .bloc__description__menu .slide-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  left: 130px;
  width: 100%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  z-index: 2;
}

@media (max-width: 359px) {
  .menu__tabs .bloc__description__menu .slide-box {
    position: relative;
    left: 88px;
  }
}

@media (min-width: 360px) and (max-width: 400px) {
  .menu__tabs .bloc__description__menu .slide-box {
    position: relative;
    left: 88px;
  }
}

@media (min-width: 401px) and (max-width: 430px) {
  .menu__tabs .bloc__description__menu .slide-box {
    position: relative;
    left: 102px;
  }
}

@media (min-width: 431px) and (max-width: 850px) {
  .menu__tabs .bloc__description__menu .slide-box {
    position: relative;
    left: 220px;
  }
}

.menu__tabs .price--menu {
  z-index: 1;
  padding: 20px 22px 0px 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  top: 0;
}

@media (min-width: 401px) and (max-width: 430px) {
  .menu__tabs .price--menu {
    padding-right: 10px;
  }
}

@media (min-width: 360px) and (max-width: 400px) {
  .menu__tabs .price--menu {
    font-size: 16px;
    background-color: #fff;
  }
}

@media (max-width: 359px) {
  .menu__tabs .price--menu {
    font-size: 14px;
    padding-top: 5px;
    padding-right: 15px;
    position: relative;
    top: 8px;
  }
}

@media screen and (min-width: 851px) {
  .menu__tabs .price--menu {
    padding-right: 30px;
  }
}

.menu__tabs .point {
  display: none;
  position: relative;
  top: 27px;
  left: 5px;
  background-color: white;
  padding-right: 10px;
  padding-left: 3px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 100ms ease-in;
  transition: 100ms ease-in;
}

.menu__tabs .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: initial;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99E2D0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

@media (max-width: 359px) {
  .menu__tabs .box {
    width: 70px;
  }
}

@media (min-width: 360px) and (max-width: 400px) {
  .menu__tabs .box {
    width: 60px;
  }
}

@media (min-width: 401px) and (max-width: 430px) {
  .menu__tabs .box {
    width: 70px;
  }
}

@media (min-width: 431px) and (max-width: 850px) {
  .menu__tabs .box {
    width: 160px;
  }
}

@media screen and (min-width: 851px) {
  .menu__tabs .box {
    width: 95px;
  }
}

.menu__tabs .check {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #fff;
  font-size: 1.5rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: .5;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  position: relative;
}

@media (min-width: 401px) and (max-width: 430px) {
  .menu__tabs .check {
    position: relative;
    right: 20px;
  }
}

.menu__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  padding-bottom: 6rem;
}

@font-face {
  font-family: 'Shrikhand';
  src: url(../font/shrikhand/Shrikhand-Regular.otf);
}

@font-face {
  font-family: 'Roboto';
  src: url(../font/roboto/Roboto-Regular.ttf);
}

#body-opacity {
  -webkit-animation: backbody 3000ms linear;
          animation: backbody 3000ms linear;
  z-index: 2;
}

.headbar {
  text-align: center;
  width: 100%;
  padding: 0.5rem 0rem 0.5rem 0rem;
}

.headbar__logo {
  color: black;
  margin: 0rem;
}

.locate {
  text-align: center;
  color: black;
  background-color: #dddd;
  padding: 1.2rem;
  font-family: 'Roboto';
  -webkit-box-shadow: inset 0px 5px 12px -10px;
          box-shadow: inset 0px 5px 12px -10px;
}

.logomaps {
  text-align: center;
  color: black;
  width: 30%;
}

.entete {
  text-align: center;
  color: black;
  background-color: #f2f2f2;
  margin: 0rem;
  padding: 1.5rem;
}

.entete .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fonctionnement {
  width: 100%;
  text-align: center;
  color: black;
  padding: 1.5rem 0rem 1.5rem 0rem;
  margin-bottom: 1.5rem;
}

.fonctionnement .fonctionnement__bloc {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fonctionnement .fonctionnement__bloc .icon-number {
  border: solid 1px #9356DC;
  border-radius: 100%;
  color: #fff;
  background-color: #9356DC;
  position: relative;
  right: 10rem;
  top: 4rem;
  padding: 0.1rem;
  width: 1rem;
}

.fonctionnement .fonctionnement__bloc .iconfonc {
  color: gray;
}

.fonctionnement .fonctionnement__bloc .fonctionnement__description {
  background-color: #f2f2f2;
  border-radius: 20px;
  width: 250px;
  padding: 1.5rem 1.5rem 1.5rem 3rem;
  text-align: left;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.fonctionnement .fonctionnement__bloc .fonctionnement__description:hover {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25), 0 5px 7px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25), 0 5px 7px rgba(0, 0, 0, 0.23);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: #e7b7e562;
}

.fonctionnement .fonctionnement__bloc .fonctionnement__description:hover .iconfonc {
  color: #9356DC;
}

.restaurant {
  background-color: #f2f2f2;
  padding: 1.5rem;
}

.restaurant .restaurant__bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.restaurant .restaurant__bloc .restaurant__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 330px;
  height: 250px;
  margin: 10px;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: black;
  background-color: #fff;
}

.restaurant .restaurant__bloc .restaurant__menu:hover {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.restaurant .new {
  text-align: center;
  background-color: #99E2D0;
  color: green;
  position: relative;
  bottom: 10.5rem;
  left: 15.5rem;
  padding: 5px;
  border-radius: 4.5px;
  width: 60px;
  font-size: 0.9rem;
  margin: 0rem;
}

.restaurant .restaurant__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.restaurant .restaurant__description .restaurant__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
}

.restaurant .restaurant__description .restaurant__card .heavy {
  font-weight: 600;
  margin: 15px 0px 5px 0px;
}

.restaurant .restaurant__description .restaurant__card .skinny {
  font-weight: 200;
  margin: 0px 0px 5px 0px;
  font-size: 1rem;
}

.restaurant .restaurant__description__new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  bottom: 2rem;
}

.restaurant .restaurant__description__new .restaurant__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
}

.restaurant .restaurant__description__new .restaurant__card .heavy {
  font-weight: 600;
  margin: 15px 0px 5px 0px;
}

.restaurant .restaurant__description__new .restaurant__card .skinny {
  font-weight: 200;
  margin: 0px 0px 5px 0px;
  font-size: 1rem;
}

.restaurant .fill-heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 25px;
  right: 20px;
  background-color: #fff;
  height: 20px;
  width: 18px;
  border-radius: 15px;
}

.restaurant .fill-heart:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.restaurant .fill-heart:hover .full {
  color: #9356DC;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.restaurant .emp {
  font-size: 22px;
  position: relative;
  right: 32px;
}

.restaurant .full {
  font-size: 20px;
  position: relative;
  right: 1px;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */