.footer__bloc{
    padding:1rem;
    color:$color;
    @include flex-footer;   
        .headfoot{ 
            letter-spacing: 1px;
        }
        .footer__contain{
            margin-bottom: $margin;
            opacity: 1;
            transition: 300ms ease-in-out;

            &:hover{
                transition: 200ms ease-in-out;
                opacity: .7;
            }
                .footer__contain__element{
                    color: $color;
                }
        }
    }
