.fa,.fas,.far{
    padding-right: 10px;
}

body{
    list-style-type: none;
    margin: $margin;
}

a{
    text-decoration: none;
}

img{
    width: 330px;
    height: 180px;
    object-fit: cover;
}

.headbar, .headfoot, .header__bar, .menu__header__title{
    font-family: 'Shrikhand';
}

.locate, .entete, .fonctionnement, .restaurant, .footer__contain, .button, .bloc__menu{
    font-family: 'Roboto';
    font-size: 1rem;
}