.headbar__direction{
    width: 99%;
    @include flex-row;
    padding: 0.5rem 0rem 0.5rem 0rem;

    .large{
        width: 5%;
        text-align: center;
    
    .fa-arrow-left{
        font-size: 2rem;
        color: $clr;
        text-align: center;
        padding: 0rem;
    }
}
    .largelogo{
        width: 95%;
        text-align :center;
    
    .head__logo{
        text-align: center;
        margin: $margin;
        color:$clr;
    }
}
}

.banner{
    width: 100%;
    height: 270px;

    &__img{
        width: 100%;
        
        img{
            object-fit: cover;
            width: 100%;
            height: 300px;
        }
      }
}

.menu__tabs{
    position: sticky;
    background: $back-grnd;
    border-radius: 35px 35px 0px 0px;
    
    .menu__header{
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1rem;
        margin-left: 15px;

        &__title{
            width: 80%;
            margin-left: 20px;
        }

        .love{
            width: 10%;
            font-size:1.2rem;
            text-align: center;
            @media (min-width:650px){
                position: relative;
                left: 3rem;;
            }
        }
    }
            .bloc__menu{
                width: 100%;
                @include flex-col;
                font-size: 1.2rem;
                margin:$margin;
                     @media (min-width:650px){
                        @include flex-row;
                }
            }
          

    .menu__dish{
        margin:10px 10px 50px 0px;
        width: 90%;
        @media #{map-get($device-media-queries, tablet)}{
                width: 30%;
            }
    }

        .menu__titlebloc{
            margin:15px 15px 0px 15px;
            width: 40px;
            border-bottom: solid 2px $color-tertiary;
        }
    
        .bloc__description__menu{
            display: flex;
            justify-content: space-between;
            align-content: center;
            background: white;
            width: 99%;
            height:70px;
            border-radius: 15px;
            margin: 15px;
            overflow: hidden;
            flex-wrap: nowrap;
            
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            transition: all 0.3s;

            @media #{map-get($device-media-queries, mobile)}{
            height: 65px;
            }

            &:hover{
                box-shadow: 0 3px 6px rgba(0,0,0,0.25), 0 5px 7px rgba(0,0,0,0.23);
                transition: all 0.3s;
                 transform: scale(1.01); 

                .slide-box{
                    transform: translate(-70px, 0);
                    transition: transform 200ms ease-in-out;

                    @media #{map-get($device-media-queries, mobile)}{
                        transform: translate(-60px, 0);
                    }


                 .box{    
                    background-color: $color-tertiary;   
                    transform: scale(1);           
                    transition: transform 200ms ease-in-out;
 
                    .check{ 
                        transform: scale(1.1);
                        color:$color;
                        transform:rotate(720deg); 
                        transition: transform 100ms ease-in-out;                                  
                
                }
            }
        }
    }
       
        
 
        .description--menu{
            z-index: 1;
            display: flex;
            flex-direction: column;
            width: 100%;
            flex-wrap: nowrap;
            overflow: hidden;

            @media #{map-get($device-media-queries, mobile)}{
                width: 350%;
            }

            .bold{
                width: 100%;
                flex-wrap: nowrap;
                margin: 10px 0px 5px 10px;
                font-weight: 600;
                font-size: 1.1rem;
                @media #{map-get($device-media-queries, mobile)} { 
                    font-size: 14px;
                    margin-bottom: 0px;
                }
            }
               
                .light{
                    width: 100%;
                    flex-wrap: nowrap;
                    margin: 0px 0px 10px 10px;
                    margin-top: 0px;
                    margin-left: 10px;
                    font-size: 0.9rem;
                    font-weight: 200;

                }
        }
        
        .slide-box{
                display: flex;
                justify-content: center;
                align-content:center ;
                position: relative;
                left: 120px;
                z-index: 2;
                width: 100%;
                transform: translateX(0);
                transition: transform 300ms ease-in-out;
                
                @media #{map-get($device-media-queries, mobile)}{
                    position: relative;
                    left: 50px;

                }

                .price--menu{
                    z-index: 1;
                    padding-top: 30px;
                    padding-left: 5px;
                    background-color: $color;
                    margin-right: 16px;
                    justify-content: center;
                    align-self: center;
                    position: relative;
                    top:0;
                }
            
                .box{
                    display: flex;
                    position: initial;
                    width: 40%;
                    justify-content: center;
                    align-items: center;
                    background-color:$color-tertiary;
                    transform: translateX(0);
                    transition: transform 300ms ease-in-out;
                    @media #{map-get($device-media-queries, mobile)}{
                        width: 40%;
                    }
                   
                    }
                
                .check{
                    align-self: center;
                    position: relative;
                    left: 4px;
                    color: $color;
                    font-size:1.5rem;
                    transform: scale(1);
                    transform:rotate(0deg);
                
                }
             }
            }
        }
    
                .menu__button{
                    @include flex-row;
                    text-align: center;
                    width: 100%;
                    padding-bottom: 6rem;
                }

         
     
