
@mixin headerbox {

    text-align: center;
    width: 100%;
}

@mixin boxcenter {
    text-align: center;
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@mixin flex-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(43, 41, 36);
    
}
@mixin stylebckgrd {
    background-color: $back-grnd;
}

@mixin cardrestaurant {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    width: 330px;
    height: 250px;
    margin: 20px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

