$color-primary : #9356DC;
$color-secondary : #FF79DA ;
$color-tertiary: #99E2D0 ;
$color-base : #fff;
$color-base2 : #0000;

$back-grnd:#f2f2f2dc;

$head-font: 'Shrikhand';
$body-font: 'Roboto';

$margin: 0rem 0px;