$color-primary : #9356DC;
$color-secondary : #FF79DA ;
$color-tertiary: #99E2D0 ;
$color: #fff;
$clr:black;
$locate-color:#dddd;
$back-grnd:#f2f2f2dc;
$color-degrade:#db98d8;

$size-text: 1.2rem;

$margin: 0rem;

